@font-face {
    font-family:"Open Sans";
    src: url('../fonts/OpenSans-Regular.woff') format('woff'),
         url('../fonts/OpenSans-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family:"Open Sans";
    src: url('../fonts/OpenSans-Bold.woff') format('woff'),
         url('../fonts/OpenSans-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; 
    line-height: 1.25;
}
  
body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}

h1, h2, h3, .header-title, .footer-text {
    text-transform: uppercase;
}

img {
    max-width: 100%;
}

/* header */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 50%;
    color: #fff;
}

.header-logo {
    width: 190px;
}

.icon-color > g {
    stroke: #fff;
}

.icon-color > path {
    fill: #fff;
}

.header-title-box {
    width: 100%;
}

.header-title {
    display: block;
    font-weight: 700;
    letter-spacing: 4px;
}

.header-btns {
    display: flex;
}

.btn {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 311px;
    padding: 23px 25px 20px 105px;
    font-size: 14px;
    letter-spacing: 0.8px;
    text-align: center;
    background-color: #5e42b0;
    border-radius: 35px;
    box-shadow: 0px 16px 24px 0 #0a0e34;
}

.btn span{
    font-weight: 700;
}

.btn > p {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.apple-btn {
    margin-right: 50px;
}

.apple-btn::before {
    content: "";
    position: absolute;
    top: calc(50% - 55px/2);
    left: 35px;
    width: 52px;
    height: 48px;
    background: url("../img/svg/apple_logo.svg") no-repeat 0 0;
}

.google-btn::before {
    content: "";
    position: absolute;
    top: calc(50% - 48px/2);
    left: 55px;
    width: 46.5px;
    height: 55px;
    background: url("../img/svg/google_play.svg") no-repeat 0 0;
}

/* athlets + players */

.athlets, .players {
    position: relative;
    overflow: hidden;
}

.players {
    flex-direction: row-reverse;
}

.athlets-img, .players-img {
    position: absolute;
    top: 0;
}

.athlets-img {
    left: calc(50% - 685px);
}

.section-title {
    font-weight: 700;
    font-size: 8rem;
    color: #e7e7e7;
}

.list-num {
    font-weight: 700;
    font-size: 1.8rem;
    border-bottom: 4px solid #5e42b0;
    width: 20px;
    text-align: center;
    display: inline-block;
    border-radius: 2px;
    margin-right: 10px;
    vertical-align: text-bottom;
    line-height: 1.6;
}

.section-title-active {
    color: #e6e6e6;
}

.list-title {
    color: #c1c1c1;
    font-weight: 700;
    font-size: 3.6rem;
    display: inline-block;
    letter-spacing: 2px;
}

.list-text-last {
    color: #ffffff;
}


.athlets-list2 {
    background-color: #f6f4fa;
}

.athlets-list3 {
    background-color: #5e42b0;
}

.athlets-list3 .list-num {
    border-bottom: 4px solid #ffffff;
}

.players-box {
    width: 100%;
}

.players-list {
    width: 100%;
}

.players-list2 {
    background-color: #f5f6f7;
}

.players-list3 {
    background-color: #0a0e34;
}

.players-list3 .list-num {
    color: #684fb3;
    border-bottom: 4px solid #ffffff;
    border-radius: 2px;
}

/* active */

.active-list {
    display: flex;
    width: 100%;
}

.active-block {
    position: relative;
}

.active-block,
.active-description {
    flex-basis: 50%;
    font-size: 0;
}

.active-num {
    position: absolute;
    display: flex;
    text-align: center;
    background-color: #5e42b0;
}

.active-num-inner {
    margin: auto;
    font-weight: 700;
    font-size: 24px;
    color: #ffffff;
    border-bottom: 4px solid #8f7bc8;
    border-radius: 2px;
    border-top-left-radius: 2px;
}

/*footer*/

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 100vh;
    color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 50%;
}

footer-title-box {
    position: relative;
}

.footer-title-box::before {
    content: url("../img/svg/surface_logo.svg");
    position: absolute;
    box-sizing: border-box;
    background: linear-gradient(to top, #50329c, #7751db);
}

.footer-title {
    font-size: 8rem;
    color: #fff;
}

.footer-text {
    color: #a496ca;
}

/* Для телефона(до 640px) */

@media (max-width: 640px) {
    header {
        background-image: url('../img/320/header_mask_320.jpg');
    }

    .header-logo{
        width: 133px;
    }
    
    .header-title-box {
        width: 87.5%;
    }
  
    .header-title {
        font-size: 2.8rem;
        letter-spacing: 1.5px;
    }

    .header-line1 {
        margin-bottom: 3.5vh;
    }
    
    .btn {
        width: 100%;
        height: 35px;
        margin-bottom: 15px;
        padding: 0px;
        padding-left: 40%;
        font-size: 0.8rem;
    }

    .btn-apple {
        margin-right: 0px;
        margin-bottom: 15px;
    }
  
    .apple-btn::before {
        top: calc(50% - 20px/2);
        left: 30%;
        width: 20px;
        height: 24px;
    }

    .google-btn::before {
        top: calc(50% - 22px/2);
        left: 30%;
        width: 22px;
        height: 24px;
    }

    header {
        padding-top: 5.8vh;
        padding-bottom: 15vh;
    }

    .header-btns {
        display: block;
        width: 87.5%;
    }
    
    .section-title {
        font-size: 2.8rem;
        margin-top: 11.25px;
    }

    .list-title {
        font-size: 2.8rem;
        margin-top: 52.5px;
        margin-bottom: 28.5px;
        letter-spacing: 1px;
    }

    .athlets-header,
    .players-header,
    .athlets-list,
    .players-list {
        padding: 0 6.25%;
    }

    .athlets-img, .players-img {
        position: static;
        top: 0;
    }

    .athlets-img img, 
    .players-img img{
        display: block;
        margin: auto;
    }

    .list-num {
        margin-right: 3px;
        line-height: 1.5;
    }

    .active-description .section-title {
        margin-top: 27.5px;
        margin-bottom: 16px;
    }
    
    .active-list {
        display: block;
        width: 100%;
    }
  
    .active-list .section-title,
    .active-list .list-text {
        margin-left: 6.25%;
        margin-right: 6.25%;
    }

    .active-list .list-text {
        margin-bottom: 73.5px;
    }
    
    .active-img,
    .active-img img,
    .active-description {
        width: 100%;
    }

    .active-num {
        bottom: -4%;
        left: 6.25%;
        width: 70px;
        height: 70px;
    }

    .active-num-inner {
        font-size: 14px;
        line-height: 1.5;
    }

    .footer-title {
        font-size: 3.2rem;
    }

    .header-line2 {
        margin-left: 20%;
    }

    .athlets .list-text,
    .players .list-text {
        padding-bottom: 50px;
        font-size: 1.5rem;
        line-height: 1.2;
    }

    .list-text {
        font-size: 1.5rem;
        line-height: 1.2;
    }

    footer {
        position: relative;
        padding-top: 65%;
        padding-bottom: 1.87%;
        background-image: url('../img/320/footer_mask_320.jpg');
    }

    .footer-title {
        letter-spacing: 2px;
    }

    .footer-title-box::before {
        bottom: calc(80% + 48px);
        left: calc(50% - 38px);
        width: 72px;
        padding: 10px 7px 4px;
        border-radius: 15px;
    }

    .footer-text {
        text-align: center;
        font-size: 1.4rem;
        letter-spacing: 1px;
    }
}

/* Для планшета(от 641px до 960px) */

@media (min-width: 641px) and (max-width: 960px) {
    header {
        padding-top: 40px;
        padding-bottom: 90px;
        background-image: url('../img/768/header_mask_768.jpg');
    }

    .header-title {
        font-size: 6.4rem;
        letter-spacing: 3px;
    }

    .header-logo {
        width: 205px;
    }

    .header-line1 {
        margin-left: 11.7%;
    }

    .header-line2 {
        margin-left: 25%;
    }

    .active-list {
        display: block;
        width: 100%;
    }
    
    .active-img,
    .active-img img,
    .active-description {
        width: 100%;
    }

    .active-num {
        bottom: -4%;
        left: 4%;
        width: 115px;
        height: 115px;
    }

    .active-list .section-title,
    .active-list .active-text {
        margin-left: 4%;
    }

    .active-description .section-title {
        margin-top: 86px;
        margin-bottom: 16px;
        line-height: 1;
    }

    .active-description .line-text {
        max-width: 85.9%;
        margin-bottom: 86px;
    }

    .athlets .section-title, 
    .players .section-title {
        margin-top: 65px;
        font-size: 8rem;
    }

    .active-list .section-title {
        font-size: 8rem;
    }

    .athlets-img {
        top: 95px;
        left: 0;
    }

    .apple-btn {
        margin-right: 30px;
    }

    .athlets-list,
    .athlets-header {
        padding-right: 4.7%;
        padding-left: 37.7%;
    }

    .players-list,
    .players-header {
        padding-left: 4.3%;
        padding-right: 40.36%;
    }

    .players-img {
        top: 6%;
        right: 0;
    }

    .athlets .list-text,
    .players .list-text {
        line-height: 1.5;
        padding-bottom: 50px;
    }

    .list-text {
        font-size: 1.6rem;
    }
    
    .active-description .list-text {
        margin-top: 3%;
        margin-bottom: 12.8%;
        font-size: 2.3rem;
        padding: 0 4.5%;
        word-spacing: 1px;
        letter-spacing: 1.5px;
    }

    .list-title {
        margin-top: 42px;
        margin-bottom: 20.5px;
        font-size: 3.2rem;
    }

    .list-title1 {
        margin-top: 32px;
    }

    footer {
        padding-top: 35%;
        padding-bottom: 2.1%;
        background-image: url('../img/768/footer_mask_768.jpg');
    }

    .footer-text {
        text-align: center;
        margin-bottom: 30%;
        font-size: 3.6rem;
    }

    .footer-title-box::before {
        bottom: calc(100% + 58px);
        left: calc(50% - 68px);
        width: 132px;
        padding: 25px 14px 12px;
        border-radius: 30px;
    }
}


@media (min-width: 961px) and (max-width: 1200px) {
    .active-description .section-title {
        font-size: 6rem;
    }
}

/* Для больших экранов(от 961px) */

@media (min-width: 961px) {
    header {
        padding-top: 45px;
        padding-bottom: 110px;
        background-image: url('../img/desktop/header_mask_desktop.jpg');
    }

    .header-title-box {
        padding: 0 9.4%;
    }
        
    .header-title {
        font-size: 9rem;
    }
    
    .header-line2 {
        margin-left: 30%;
        padding-left: calc(70% - 1077px);
    }

    .google-btn > p {
        padding-left: 19px;
    }

    .athlets-list,
    .athlets-header {
        padding-left: 52%;
        padding-right: 10.5%;
    }
  
    .players-list,
    .players-header {
        padding-left: 15%;
        padding-right: 52%;
    }

    .athlets .section-title,
    .players .section-title {
        margin-top: 100px;
    }

    .list-title {
        margin-top: 60.5px;
        margin-bottom: 20px;
    }

    .athlets-list3 .list-title,
    .players-list3 .list-title {
        margin-top: 85px;
    }

    .players-img {
        left: calc(50% - 130px);
    }

    .list-text {
        padding-bottom: 6.94%;
        font-size: 2rem;
        line-height: 1.4;
    }

    .athlets-list3 .list-text,
    .players-list3 .list-text {
        padding-bottom: 92px;
    }

    .active-list {
        position: relative;
    }

    .active-block {
        position: static;
    }
    
    .active-image-odd {
        padding-left: calc(50% - 480px);
    }

    .active-list:nth-child(even) {
        flex-direction: row-reverse;
    }

    .active-list:nth-child(even) .section-title,
    .active-list:nth-child(even) .list-text {
        margin-left: 19.97%;
        margin-right: 85px;
    }

    .active-description .section-title {
        margin-top: 25.22%;
        margin-bottom: 9.69%;
        margin-left: 130px;
    }

    .active-description .list-text {
        max-width: 538px;
        margin-left: 130px;
        font-size: 2.4rem;
    }

    .active-num {
        top: 28.7%;
        left: calc(50% - 170px/2);
        width: 170px;
        height: 155px;
    }

    footer {
        padding-top: 12%;
        padding-bottom: 2.63%;
        background-image: url('../img/desktop/footer_mask_desktop.jpg');
    }

    .footer-title-box::before {
        top: 5px;
        left: -40px;
        width: 132px;
        padding: 25px 14px 12px;
        border-radius: 30px;
    }

    .footer-title-box {
        position: relative;
        padding-left: 130px;
    }

    .footer-text {
        font-size: 3rem;
    }
}
