@font-face {
  font-family: "Open Sans";
  src: url("https://github.com/girloflondon/mq-diploma/blob/master/sources/fonts/OpenSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("https://github.com/girloflondon/mq-diploma/blob/master/sources/fonts/OpenSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

.prototype {
    position: absolute;
    top: 0;
    width: 1920px;
    opacity: 0.3;
    z-index: -2;
}

header {
  width: 100vw;
  padding-bottom: 111px;
  background: #151a36 url(https://raw.githubusercontent.com/girloflondon/mq-diploma/master/sources/svg/header_image_mask.jpg) no-repeat top / cover;
  z-index: 10;
}

header::before {
  content: url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgOTcyIDI2NCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAv%0D%0Ac3ZnIj4KICA8ZyBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPgogICAgPGcgc3Ryb2tl%0D%0ALWxpbmVjYXA9InJvdW5kIiBzdHJva2U9IiMwMDAiIHN0cm9rZS1saW5lam9pbj0icm91bmQiPgog%0D%0AICAgICA8cGF0aCBzdHJva2Utd2lkdGg9IjI1IiBkPSJNMjc1IDEzMkwxMDMgMjUxVjEzeiIvPgog%0D%0AICAgICA8ZyBzdHJva2Utd2lkdGg9IjE2Ij4KICAgICAgICA8cGF0aCBkPSJNNDIuNSA5OWgxMDdN%0D%0ANDIuNSAxNjloMTA3TTggMTM1aDE2OCIvPgogICAgICA8L2c+CiAgICA8L2c+CiAgICA8cGF0aCBk%0D%0APSJNMzU2LjUwNSAxODQuMzYyYy03LjYzIDAtMTQuMzM1LS43NzItMjAuMTE3LTIuMzE2LTUuNzgy%0D%0ALTEuNTQ0LTEwLjIwMi0zLjQzNi0xMy4yNi01LjY3Ni0zLjA1Ny0yLjI0LTQuNTg2LTQuMzYtNC41%0D%0AODYtNi4zNTcgMC0xLjU3NS41OS0zLjUxMiAxLjc3LTUuODEzIDEuMTgyLTIuMyAyLjU5LTQuMjgz%0D%0AIDQuMjI0LTUuOTUgMS42MzUtMS42NjQgMi45OTctMi40OTYgNC4wODctMi40OTYuNjY2IDAgMi4w%0D%0AOS41NzUgNC4yNyAxLjcyNSAzLjI2OCAxLjY5NSA2LjM3IDMuMDU3IDkuMzA4IDQuMDg2IDIuOTM3%0D%0AIDEuMDMgNi4zMTMgMS41NDQgMTAuMTI3IDEuNTQ0IDQuMjM4IDAgNy44MjYtLjgzMiAxMC43NjIt%0D%0AMi40OTcgMi45MzYtMS42NjUgNC40MDQtNC41ODcgNC40MDQtOC43NjQgMC0yLjQyMy0uNzU3LTQu%0D%0ANTEyLTIuMjctNi4yNjgtMS41MTQtMS43NTYtMy40NTItMy4yNC01LjgxMy00LjQ1LTIuMzYtMS4y%0D%0AMS01LjU3LTIuNjM0LTkuNjI2LTQuMjdsLTcuMTc1LTMuMDg3Yy00LjM2LTIuMTItOC4xLTQuNDUt%0D%0AMTEuMjE3LTYuOTkzLTMuMTE4LTIuNTQzLTUuNjYtNS45MDMtNy42My0xMC4wOC0xLjk2Ny00LjE4%0D%0ALTIuOTUtOS4yOTUtMi45NS0xNS4zNSAwLTcuMzg2IDEuODE2LTEzLjUzMiA1LjQ1LTE4LjQzNiAz%0D%0ALjYzMi00LjkwNCA4LjM1NC04LjUwNyAxNC4xNjctMTAuODA4IDUuODEyLTIuMyAxMi4wNDgtMy40%0D%0ANSAxOC43MS0zLjQ1IDUuNDQ4IDAgMTAuMzgyLjU2IDE0LjgwMiAxLjY4IDQuNDIgMS4xMiA3Ljg4%0D%0ANyAyLjU1NyAxMC40IDQuMzEzIDIuNTEyIDEuNzU3IDMuNzY4IDMuNTEzIDMuNzY4IDUuMjcgMCAx%0D%0ALjQ1Mi0uNDcgMy4zMTQtMS40MDcgNS41ODQtLjk0IDIuMjctMi4xMDQgNC4yNTQtMy40OTcgNS45%0D%0ANS0xLjM5MyAxLjY5NC0yLjY5NCAyLjU0Mi0zLjkwNSAyLjU0Mi0uNTQ0IDAtMS41MTMtLjMwMy0y%0D%0ALjkwNS0uOTA4LTIuMjQtLjkwOC00LjQ5Ni0xLjY1LTYuNzY3LTIuMjI1LTIuMjctLjU3NS01LjA0%0D%0ALS44NjMtOC4zMS0uODYzLTUuNjMgMC05LjUzNi44OTMtMTEuNzE1IDIuNjgtMi4xOCAxLjc4NS0z%0D%0ALjI3IDMuODktMy4yNyA2LjMxIDAgMi43ODYuNzQyIDUuMTE3IDIuMjI1IDYuOTk0IDEuNDg0IDEu%0D%0AODc3IDMuMzYgMy40MiA1LjYzIDQuNjMyIDIuMjcgMS4yMSA1LjQzNSAyLjYwNCA5LjQ5MiA0LjE3%0D%0AOCA2LjExNSAyLjYwMyAxMS4xMSA1LjA3IDE0Ljk4NSA3LjQwMiAzLjg3NSAyLjMzIDcuMjIgNS42%0D%0ANzYgMTAuMDM2IDEwLjAzNSAyLjgxNiA0LjM2IDQuMjI0IDkuOTMgNC4yMjQgMTYuNzEyIDAgOC4y%0D%0AOTUtMS43NCAxNS4wOTItNS4yMjIgMjAuMzktMy40ODIgNS4yOTctNy45NjIgOS4xMjctMTMuNDQy%0D%0AIDExLjQ4OC01LjQ4IDIuMzYyLTExLjM5OCAzLjU0Mi0xNy43NTUgMy41NDJ6bTk2LjcyNCAwYy05%0D%0ALjgxIDAtMTguMjEtMS41NDQtMjUuMjA0LTQuNjMyLTYuOTkzLTMuMDg3LTEyLjMzNy03LjU1My0x%0D%0ANi4wMy0xMy4zOTYtMy42OTMtNS44NDItNS41NC0xMi44OC01LjU0LTIxLjExNVY3NC44MzJjMC0x%0D%0ALjc1Ni43ODctMy4wNzMgMi4zNi0zLjk1IDEuNTc2LS44OCA0LjAyOC0xLjMxOCA3LjM1OC0xLjMx%0D%0AOGg1LjQ1YzMuMzMgMCA1Ljc2Ni40NCA3LjMxIDEuMzE3IDEuNTQ0Ljg3OCAyLjMxNiAyLjE5NSAy%0D%0ALjMxNiAzLjk1djY4Ljc1MmMwIDMuNzU0LjkyMyA3LjExNCAyLjc3IDEwLjA4IDEuODQ3IDIuOTY4%0D%0AIDQuNDM1IDUuMjg0IDcuNzY1IDYuOTUgMy4zMyAxLjY2NCA3LjE0NSAyLjQ5NiAxMS40NDQgMi40%0D%0AOTYgNC4yOTcgMCA4LjEyNy0uODMyIDExLjQ4Ny0yLjQ5NyAzLjM2LTEuNjY1IDUuOTgtMy45OCA3%0D%0ALjg1Ni02Ljk0OCAxLjg3Ny0yLjk2NyAyLjgxNi02LjMyNyAyLjgxNi0xMC4wOFY3NC44MzJjMC0x%0D%0ALjc1Ni43Ny0zLjA3MyAyLjMxNS0zLjk1IDEuNTQ0LS44OCAzLjk4LTEuMzE4IDcuMzEtMS4zMTho%0D%0ANS4zNmMzLjMzIDAgNS43NjYuNDQgNy4zMSAxLjMxNyAxLjU0NC44NzggMi4zMTYgMi4xOTUgMi4z%0D%0AMTYgMy45NXY3MC4zODdjMCA4LjIzMy0xLjg0NiAxNS4yNzItNS41NCAyMS4xMTQtMy42OTIgNS44%0D%0ANDMtOS4wMzYgMTAuMzEtMTYuMDMgMTMuMzk2LTYuOTkyIDMuMDg4LTE1LjM5MyA0LjYzMi0yNS4y%0D%0AIDQuNjMyem03OC4zNzYtMS4wOWMtNi40NzggMC05LjcxNy0xLjY5NS05LjcxNy01LjA4NVY3Ni4z%0D%0ANzdjMC0yLjI0LjUxMy0zLjg2IDEuNTQzLTQuODYgMS4wMy0uOTk4IDIuNjY0LTEuNDk3IDQuOTA0%0D%0ALTEuNDk3aDMxLjUxNWMyNi43NiAwIDQwLjE0MiAxMC4wOCA0MC4xNDIgMzAuMjQzIDAgNi4xMTUt%0D%0AMS43MSAxMS4zODItNS4xMyAxNS44MDItMy40MjIgNC40Mi04LjAxIDcuNzItMTMuNzYgOS45di42%0D%0AMzZjMS45OTguODQ4IDQuMTAyIDIuNjY1IDYuMzEyIDUuNDVzMy45OCA1LjkzMyA1LjMxMyA5LjQ0%0D%0ANWwxNC4yNTcgMzUuNTFjLjQ4NSAxLjQ1NC43MjcgMi40ODMuNzI3IDMuMDkgMCAyLjExOC0zLjIx%0D%0AIDMuMTc3LTkuNjI3IDMuMTc3aC02LjYzYy01LjM5IDAtOC41MDctMS4xMi05LjM1NC0zLjM2bC0x%0D%0AMi44MDYtMzEuNTE1Yy0xLjIxLTIuNDItMi4zNzctNC4yOTgtMy40OTctNS42My0xLjEyLTEuMzMy%0D%0ALTIuNjgtMi4zNDctNC42NzctMy4wNDMtMS45OTgtLjY5Ni00LjY5Mi0xLjA0NC04LjA4My0xLjA0%0D%0ANGgtNi4yNjd2MzkuNTA3YzAgMy4zOS0zLjI0IDUuMDg1LTkuNzE3IDUuMDg1aC01LjQ1em0zMC40%0D%0AMjUtNjYuMDI2YzIuMTggMCA0LjI0LS42MiA2LjE3Ny0xLjg2MiAxLjkzOC0xLjI0IDMuNDgtMi45%0D%0AMiA0LjYzMi01LjA0IDEuMTUtMi4xMiAxLjcyNC00LjQ1IDEuNzI0LTYuOTkzIDAtMy43NTMtMS4y%0D%0AMjYtNi43MzUtMy42NzgtOC45NDVzLTUuNzY3LTMuMzE1LTkuOTQ1LTMuMzE1aC0xNC4xNjd2MjYu%0D%0AMTU2aDE1LjI1OHptNjguMTE2IDY2LjAyNmMtNi40NzggMC05LjcxNy0xLjY5NS05LjcxNy01LjA4%0D%0ANVY3Ni4zNzdjMC0yLjI0LjUxMy0zLjg2IDEuNTQzLTQuODYgMS4wMy0uOTk4IDIuNjY0LTEuNDk3%0D%0AIDQuOTA0LTEuNDk3aDUzLjk0N2MxLjY5NiAwIDIuOTIyLjYzNSAzLjY3OCAxLjkwNy43NTcgMS4y%0D%0ANyAxLjEzNiAzLjMzIDEuMTM2IDYuMTc2djQuOTA0YzAgMi44NDYtLjM4IDQuOTA0LTEuMTM2IDYu%0D%0AMTc2LS43NTYgMS4yNy0xLjk4MiAxLjkwNy0zLjY3OCAxLjkwN2gtMzUuNTF2MjMuNjEzaDM0LjMz%0D%0AYzEuNjk1IDAgMi45MzYuNjM2IDMuNzIzIDEuOTA3Ljc4NyAxLjI3MiAxLjE4IDMuMyAxLjE4IDYu%0D%0AMDg1djQuOTk1YzAgMi44NDYtLjM5MyA0LjkyLTEuMTggNi4yMjItLjc4NyAxLjMtMi4wMjggMS45%0D%0ANTItMy43MjMgMS45NTJoLTM0LjMzdjQyLjMyM2MwIDMuMzktMy4yNCA1LjA4NS05LjcxOCA1LjA4%0D%0ANWgtNS40NXptNzAuMjA1IDBjLTYuNiAwLTkuOS0xLjE4LTkuOS0zLjU0MiAwLS42NjYuMjEzLTEu%0D%0ANjM0LjYzNy0yLjkwNmwzNS42LTEwMy44MDdjLjg1LTIuMyAzLjkwNy0zLjQ1MiA5LjE3NC0zLjQ1%0D%0AMmg4LjM1N2M1LjI2NyAwIDguMzI1IDEuMTUgOS4xNzMgMy40NTJsMzUuNiAxMDMuODA3Yy4zMDQg%0D%0AMS4yMS40NTUgMi4xOC40NTUgMi45MDYgMCAxLjIxLS42NSAyLjEwNC0xLjk1MiAyLjY4LTEuMzAy%0D%0ALjU3NS0zLjM0Ni44NjItNi4xMy44NjJoLTcuMDg1Yy0yLjU0MyAwLTQuNTg2LS4yNTctNi4xMy0u%0D%0ANzcyLTEuNTQ0LS41MTQtMi40OTgtMS4zNzctMi44Ni0yLjU4OGwtNi41NC0xOS43MDhoLTM4LjA1%0D%0ANGwtNi41NCAxOS43MDhjLS42NjUgMi4yNC0zLjE0NyAzLjM2LTcuNDQ2IDMuMzZoLTYuMzU3em01%0D%0AMS40OTYtNDQuNDFsLTkuMTczLTI4LjdjLS41NDUtMS40NTMtMS4wMTQtMy4xMTgtMS40MDgtNC45%0D%0AOTUtLjM5My0xLjg3Ny0uNzQyLTMuNjYzLTEuMDQ0LTUuMzU4aC0uNjM1bC0uMzYzIDEuOTk3Yy0u%0D%0ANjA2IDMuNTcyLTEuMzAyIDYuMzU3LTIuMDkgOC4zNTVsLTkuNTM1IDI4LjdoMjQuMjV6bTk3Ljk5%0D%0ANSA0NS41Yy0xOC4xNjMgMC0zMS41Ni00LjcyMi00MC4xODctMTQuMTY4LTguNjI4LTkuNDQ1LTEy%0D%0ALjk0Mi0yNC4xMjctMTIuOTQyLTQ0LjA0OCAwLTM4LjMyNiAxNy45ODMtNTcuNDkgNTMuOTQ4LTU3%0D%0ALjQ5IDQuOTA1IDAgOS45OS40ODYgMTUuMjU4IDEuNDU0IDUuMjY4Ljk3IDkuNjcyIDIuMzE2IDEz%0D%0ALjIxNCA0LjA0MiAzLjU0MiAxLjcyNSA1LjMxMyAzLjY0OCA1LjMxMyA1Ljc2NyAwIDEuNTEzLS42%0D%0AMDUgMy40OTYtMS44MTYgNS45NDgtMS4yMSAyLjQ1Mi0yLjY1IDQuNjE2LTQuMzE0IDYuNDkzLTEu%0D%0ANjY1IDEuODc4LTMuMTMzIDIuODE3LTQuNDA1IDIuODE3LS4zMDMgMC0xLjEyLS4zMDMtMi40NTIt%0D%0ALjkwOC0yLjkwNi0xLjIxMi01Ljk1LTIuMjI3LTkuMTI3LTMuMDQ0LTMuMTgtLjgxNy03LjIyMi0x%0D%0ALjIyNi0xMi4xMjYtMS4yMjYtOS41MDYgMC0xNi41NDQgMy4wMTItMjEuMTE2IDkuMDM3LTQuNTcg%0D%0ANi4wMjQtNi44NTcgMTUuMTItNi44NTcgMjcuMjlzMi4zMDIgMjEuMzQ0IDYuOTA0IDI3LjUyYzQu%0D%0ANiA2LjE3NSAxMS41MDQgOS4yNjMgMjAuNzA3IDkuMjYzIDQuNzg0IDAgOC45NDctLjQ4NCAxMi40%0D%0AOS0xLjQ1MyAzLjU0LS45NyA3LjAwNy0yLjIxIDEwLjM5OC0zLjcyMy4xOC0uMDYuNzI2LS4yODgg%0D%0AMS42MzQtLjY4Mi45MS0uMzkzIDEuNTc1LS41OSAxLjk5OC0uNTkgMS41NzUgMCAzLjA4OC45MjMg%0D%0ANC41NCAyLjc3IDEuNDU0IDEuODQ3IDIuNjM1IDMuOTM2IDMuNTQzIDYuMjY3LjkxIDIuMzMgMS4z%0D%0ANjMgNC4wMSAxLjM2MyA1LjA0IDAgMi45NjYtMS45ODMgNS40OC01Ljk1IDcuNTM3LTMuOTY1IDIu%0D%0AMDYtOC43NDggMy41ODgtMTQuMzUgNC41ODctNS42IDEtMTAuODIgMS40OTgtMTUuNjY1IDEuNDk4%0D%0Aek05MDcuMDYgMTgzYy0yLjI0IDAtMy44NzUtLjUxNS00LjkwNS0xLjU0NC0xLjAzLTEuMDMtMS41%0D%0ANDQtMi42NjQtMS41NDQtNC45MDRWNzYuMzc3YzAtMi4yNC41MTQtMy44NiAxLjU0My00Ljg2IDEu%0D%0AMDMtLjk5OCAyLjY2NC0xLjQ5NyA0LjkwNS0xLjQ5N2g1OS4xMjRjMS42OTUgMCAyLjkyLjYzNSAz%0D%0ALjY3OCAxLjkwNy43NTcgMS4yNyAxLjEzNSAzLjMzIDEuMTM1IDYuMTc2djQuOTA0YzAgMi44NDYt%0D%0ALjM3OCA0LjkwNC0xLjEzNSA2LjE3Ni0uNzU3IDEuMjctMS45ODMgMS45MDctMy42NzggMS45MDdo%0D%0ALTQwLjY4OHYyMy40M2gzNi4zMjhjMS42OTYgMCAyLjkyMi42MzcgMy42NzggMS45MS43NTcgMS4y%0D%0ANyAxLjEzNiAzLjMzIDEuMTM2IDYuMTc0djQuOTk2YzAgMi44NDUtLjM4IDQuOTA0LTEuMTM2IDYu%0D%0AMTc1LS43NTYgMS4yNzItMS45ODIgMS45MDgtMy42NzggMS45MDhoLTM2LjMyOHYyNi4xNTZoNDAu%0D%0ANzc4YzEuNjk2IDAgMi45MjIuNjM1IDMuNjggMS45MDYuNzU2IDEuMjcyIDEuMTM0IDMuMyAxLjEz%0D%0ANCA2LjA4NXY1LjA4N2MwIDIuODQ2LS4zNzggNC45MDQtMS4xMzUgNi4xNzYtLjc1NiAxLjI3LTEu%0D%0AOTgyIDEuOTA3LTMuNjc4IDEuOTA3aC01OS4yMTR6IiBmaWxsPSIjMDAwIi8+CiAgPC9nPgo8L3N2%0D%0AZz4K);
  position: absolute;
  width: 192px;
  padding-top: 2.3%;
  padding-left: 44.5%;
}

.header_title {
  padding-top: 19.7%;
  margin-left: 9.7%;
  font: bold normal 5.5rem / 1.05em "Open Sans", Arial, sans-serif;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.header_title span {
  padding-left: 26%;
  letter-spacing: 5.6px;
}

.header_btns {
  display: flex;
  justify-content: center;
  width: 60%;
  margin-top: 210px;
  margin-left: 321px;
 z-index: 2;
}

.btn_apple {
  position: relative;
  width: 310px;
  margin-left: 300px;
  padding-top: 22px;
  padding-bottom: 21px;
  padding-left: 105px;
  font: normal normal 0.9rem / 1.183em "Open Sans", sans-serif;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-decoration: none;
  background-color: #5e42b0;
  border-radius: 50px;
}

.btn_apple::before {
  content: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNzAg%0D%0AMTcwIj4KICA8cGF0aCBkPSJNMTUwLjM3IDEzMC4yNWMtMi40NSA1LjY2LTUuMzUgMTAuODctOC43%0D%0AMSAxNS42Ni00LjU4IDYuNTMtOC4zMyAxMS4wNS0xMS4yMiAxMy41Ni00LjQ4IDQuMTItOS4yOCA2%0D%0ALjIzLTE0LjQyIDYuMzUtMy42OSAwLTguMTQtMS4wNS0xMy4zMi0zLjE4LTUuMTk3LTIuMTItOS45%0D%0ANzMtMy4xNy0xNC4zNC0zLjE3LTQuNTggMC05LjQ5MiAxLjA1LTE0Ljc0NiAzLjE3LTUuMjYyIDIu%0D%0AMTMtOS41IDMuMjQtMTIuNzQyIDMuMzUtNC45My4yMS05Ljg0Mi0xLjk2LTE0Ljc0Ni02LjUyLTMu%0D%0AMTMtMi43My03LjA0NS03LjQxLTExLjczNS0xNC4wNC01LjAzLTcuMDgtOS4xNjgtMTUuMjktMTIu%0D%0ANDEtMjQuNjUtMy40Ny0xMC4xMS01LjIxLTE5LjktNS4yMS0yOS4zNzggMC0xMC44NTcgMi4zNDYt%0D%0AMjAuMjIgNy4wNDUtMjguMDY4QzI3LjUwOCA1Ny4wMyAzMi40MiA1Mi4wNiAzOC41NyA0OC40MXMx%0D%0AMi43OTMtNS41MSAxOS45NDgtNS42M2MzLjkxNSAwIDkuMDUgMS4yMSAxNS40MyAzLjU5IDYuMzYg%0D%0AMi4zOSAxMC40NDYgMy42IDEyLjIzNyAzLjYgMS4zNCAwIDUuODc3LTEuNDE2IDEzLjU3LTQuMjQg%0D%0ANy4yNzUtMi42MTcgMTMuNDE1LTMuNyAxOC40NDUtMy4yNzQgMTMuNjMgMS4xIDIzLjg3IDYuNDcz%0D%0AIDMwLjY4IDE2LjE1My0xMi4xOSA3LjM4NS0xOC4yMiAxNy43My0xOC4xIDMxIC4xMSAxMC4zMzgg%0D%0AMy44NiAxOC45NCAxMS4yMyAyNS43NyAzLjM0IDMuMTcgNy4wNyA1LjYyIDExLjIyIDcuMzYtLjkg%0D%0AMi42MS0xLjg1IDUuMTEtMi44NiA3LjUxek0xMTkuMTEgNy4yNGMwIDguMTAyLTIuOTYgMTUuNjY3%0D%0ALTguODYgMjIuNjctNy4xMiA4LjMyMy0xNS43MzIgMTMuMTMzLTI1LjA3IDEyLjM3NC0uMTItLjk3%0D%0AMi0uMTktMS45OTUtLjE5LTMuMDcgMC03Ljc3OCAzLjM4Ny0xNi4xMDIgOS40LTIyLjkwOCAzLjAw%0D%0AMi0zLjQ0NiA2LjgyLTYuMzEgMTEuNDUtOC41OTcgNC42Mi0yLjI1MyA4Ljk5LTMuNDk4IDEzLjEt%0D%0AMy43MS4xMiAxLjA4Mi4xNyAyLjE2NS4xNyAzLjI0eiIvPgo8L3N2Zz4K);
  position: absolute;
  top: 11px;
  left: 34px;
  width: 50px;
}

.btn_google {
  position: relative;
  width: 310px;
  margin-right: 181px;
  padding-top: 22px; 
  padding-bottom: 21px; 
  padding-left: 125px;
  font: normal normal 0.9rem / 1.183em "Open Sans", sans-serif;
  letter-spacing: 0.02em;
  color: #ffffff;
  background-color: #5e42b0;
  text-decoration: none;
  border-radius: 50px;
}
 
.btn_google::before {
  content: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MDUu%0D%0ANDk5IDUwNS40OTkiPgogIDxwYXRoIGQ9Ik00NzEuNDk3IDIzNC40NjZsLTkyLjA4Mi01My4xMzUt%0D%0ANzUuNzMzIDczLjIwOCA2OS4yMTUgNjYuOTA3IDk4LjYtNTYuOTFjNS40My0zLjEzMyA4LjY3Ny04%0D%0ALjc1NiA4LjY3Ny0xNS4wMyAwLTYuMjc1LTMuMjQ1LTExLjg5OC04LjY3Ny0xNS4wNHpNMzYzLjc4%0D%0ANSAxNzIuM2wtMTAxLjMzMi01OC40OTdMNDAuMzc1IDBsMjUwLjgyOCAyNDIuNDdNNDQuMDYzIDUw%0D%0ANS41bDIxOC43Ny0xMjAuNTEyIDk0LjQzNS01NC41MTUtNjYuMDY1LTYzLjg3TTI1LjU2IDkuODE1%0D%0AbC0uMjM2IDQ4OS42N0wyNzguNzIgMjU0LjUzNCIvPgo8L3N2Zz4K);
  position: absolute;
  width: 47.5px;
  top: 15px;
  left: 54.5px;
}

.athlets {
  position: relative;
}

.athlets-title {
  margin-top: 64px;
  margin-left: 456px;
  font: bold normal 4.8rem / 10rem "Open Sans", sans-serif;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.025em;
  color: #e7e7e7;
  text-align: center;
}

.athlets-image {
  position: absolute;
  top: -80px;
  margin-left: 320px;
  z-index: 1;
}

.athlets-list {
  position: relative;
  display: block;
  float: left;
  margin-left: 1000px;
}

.athlets-subheader {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 2.4rem;
  color: #c1c1c1;
}

.athlets-text {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1.4px;
  word-spacing: -2.5px;
  font-weight: normal;
  font-size: 20px;
}

li:nth-child(2) {
  background-color: #f6f4fa;
  opacity: 0.3;
}

li:last-child {
  background-color: #5e42b0;
  opacity: 0.3;
}